<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
    Centrally located in Cambridge-Narrows, New Brunswick, we serve the Kennebecasis Valley from Sussex to Saint John, as well as the Fredericton and Oromocto area. We install all types of Hardwood, Laminate and Cork Flooring. We have been in business since 2008 and have grown steadily since. Over that time we have developed good relationships with both contractors as well as flooring stores and hope the trend continues as our business grows. 
A new hardwood floor is a major investment and something that you can enjoy for years to come. We believe what sets us apart from our competition is our friendly, helpful and honest service, as well as our attention to detail. We make sure your floor is exactly the way you want it.
In an attempt to be more socially and environmentally responsible, we deal primarily in Canadian milled products that are FSC certified. For a list of FSC certified products and where to buy them email us at info@floorsbyhunter.com. Or for more info on FSC Certification, go to our Links page.

</p>
